@import "../var";

.ourPartners {
  padding: 4.5rem 0 9rem;
  @include max($lg) {
    display: none;
  }
  .heading {
    text-align: center;
    margin-bottom: 3rem;
    h5 {
    }
  }
  .ourPartners_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 2.6rem;
    svg {
      max-width: 120px;
      max-height: 30px;
    }
  }
}
